       *{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100vw;
    background: url(../imagens/wallpapers-onepiece/backgrounds/parteNami.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
h1{
    font-style: italic;
    font-style: oblique;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

main{
    margin-top:  250px;
  
    
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
}

header{
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

div{
    
    
    width: 1000px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}