@charset "utf-8";

:root{
    --cor1: #87837F;
    --cor2:#63605D;
    --cor3:#3B3937;
    --cor4:#DED7D1;
    --cor5:#B5B0AA;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: var(--cor3);
}

header{
    height: 10%;
    width: 100%;
    background-color: var(--cor2);
}

header h1{
    padding: 20px;
    text-align: center;
}

#lateral{
    height: 100%;
    width: 25%;
    border-right: 1px solid white;
    padding: 10px;
    background-color: var(--cor3);
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;

    
}

#lateral aside img{
    height: 100%;
    width: 90%;
    margin: 5px;
    border-radius: 50%;
   
}

#lateral article{
    width: 100%;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--cor5);
}

#lateral article h1{
    margin-top: 10px;
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

#lateral article p{
    font-size: 1em;
    padding-left: 5px ;
    text-align: justify;
    text-indent: 5px;
    text-shadow: 0.2px 0.2px black;
    
}

