*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
 
body{
    width: 100%;
    background-color: rgb(197, 151, 240);
    height: 2000px;
}
 
#animacao{
   background-image: url("imagens/2206_w026_n002_2075b_p1_2075.jpg");
   background-size: cover;
   height: 600px
}
 
main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    align-items: center;
    margin-top: 75px;
}
img{
    width: 100%;
}
#container{
    width: 500px;
    animation: aparecer_esquerda 3s ease-in-out ;
    animation-fill-mode:forwards ;
    opacity: 0;
}
 
@keyframes aparecer_esquerda{
     from{
        transform: translateX(-500px);
     
        opacity: 0;
      }to{
        transform: translateX(300px);
     
        opacity: 1;
      }
 
     
}
 
#fundo{
    width: 100%;
    display: flex;
    justify-content: center;
}
 
#centro{
    position:absolute;
    width: 30px;
    height: 30px;
    opacity: 1;
    animation: aparecer_centro 3s ease-in-out ;
    animation-fill-mode: forwards;
    margin: 0 auto;
 
}
 
@keyframes aparecer_centro {
    from{
        transform: scale(0,0);
        opacity: 0;
    }to{
        transform: scale(20,20);
        opacity: 1;
 
    }
   
}
 
#container2{
    width: 500px;
 
   
    animation: aparecer_direita 3s ease-in-out;
    animation-fill-mode:forwards;
 
}
 
@keyframes aparecer_direita {
    from{
        transform: translateX(500px);
        opacity: 0;
    }to{
 
        transform: translateX(-300px);
        opacity: 1;
    }
   
}
#cenario{
    width: 100%;
    height: 500px;
    background-color: beige;
}

#personagem {
    width: 80px;
    position: absolute;
    left: 160px;
    transition: transform 2s ease;
}

#personagem:hover{
    transform: translate(10px,0px);
}

